openapi: 3.0.0
info:
  description: The Places API lets you bring location context into your applications with the speed and reliability you need. Power location searches with rich details to help users find the best places near them through access to photos, reviews, tips, and more.
  version: 1.0.0
  title: Places API
tags:
  - name: Place Search
    description: Place Search
paths:
  "/places/search":
    get:
      tags:
        - Place Search
      summary: Search for Places
      description: Search for places in the FSQ Places database using a location and querying by name, category name, telephone number, taste label, or chain name. For example, search for "coffee" to get back a list of recommended coffee shops.
      operationId: PlaceSearch
      parameters:
        - name: query
          in: query
          required: false
          description: A string to be matched against all content for this place, including but not limited to venue name, category, telephone number, taste, and tips.
          schema:
            type: string
        - name: ll
          in: query
          required: false
          description: The latitude/longitude around which to retrieve place information. This must be specified as latitude,longitude (e.g., ll=41.8781,-87.6298).
          schema:
            type: string
        - name: radius
          in: query
          required: false
          description: Sets a radius distance (in meters) used to define an area to bias search results. The maximum allowed radius is 100,000 meters. Radius can be used in combination with ll or ip biased geolocation only. By using radius, global search results will be omitted.
          schema:  
            type: integer
            minimum: 0
            maximum: 100000
        - name: categories
          in: query
          required: false
          description: Filters the response and returns FSQ Places matching the specified categories. Supports multiple Category IDs, separated by commas. For a complete list of Foursquare Category IDs, refer to the Category Taxonomy page.
          schema:
            type: string
        - name: chains
          in: query
          required: false
          description: Filters the response and returns FSQ Places matching the specified chains. Supports multiple chain IDs, separated by commas. For more information on Foursquare Chain IDs, refer to the Chains page.
          schema:
            type: string
        - name: exclude_chains
          in: query
          required: false
          description: Filters the response and returns FSQ Places not matching any of the specified chains. Supports multiple chain IDs, separated by commas. For more information on Foursquare Chain IDs, refer to the Chains page.
          schema:
            type: string
        - name: exclude_all_chains
          in: query
          required: false
          description: Filters the response by only returning FSQ Places that are not known to be part of any chain.
          schema:
            type: boolean
        - name: fields
          in: query
          required: false
          description: Indicate which fields to return in the response, separated by commas. If no fields are specified, all Core Fields are returned by default. For a complete list of returnable fields, refer to the Response Fields page.
          schema:
            type: string
        - name: min_price
          in: query
          required: false
          description: Restricts results to only those places within the specified price range. Valid values range between 1 (most affordable) to 4 (most expensive), inclusive.
          schema:
            type: integer
            minimum: 1
            maximum: 4
        - name: max_price
          in: query
          required: false
          description: Restricts results to only those places within the specified price range. Valid values range between 1 (most affordable) to 4 (most expensive), inclusive.
          schema:
            type: integer
            minimum: 1
            maximum: 4
        - name: open_at
          in: query
          required: false
          description: Support local day and local time requests through this parameter. To be specified as DOWTHHMM (e.g., 1T2130), where DOW is the day number 1-7 (Monday = 1, Sunday = 7) and time is in 24 hour format. Places that do not have opening hours will not be returned if this parameter is specified.
          schema:
            type: string
        - name: open_now
          in: query
          required: false
          description: Restricts results to only those places that are open now. Places that do not have opening hours will not be returned if this parameter is specified.
          schema:
            type: boolean
        - name: ne
          in: query
          required: false
          description: The latitude/longitude representing the north/east points of a rectangle. Must be used with sw parameter to specify a rectangular search box. Global search results will be omitted
          schema:
            type: string
        - name: sw
          in: query
          required: false
          description: The latitude/longitude representing the south/west points of a rectangle. Must be used with ne parameter to specify a rectangular search box. Global search results will be omitted.
          schema:
            type: string
        - name: near
          in: query
          required: false
          description: A string naming a locality in the world (e.g., "Chicago, IL"). If the value is not geocodable, returns an error.
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: Specifies the order in which results are listed. Possible values are relevance (default), rating, distance and popularity
          schema:
            type: string
            enum:
              - RELEVANCE
              - RATING
              - DISTANCE
              - POPULARITY
        - name: limit
          in: query
          required: false
          description: The number of results to return, up to 50. Defaults to 10.
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: session_token
          in: query
          required: false
          description: A user-generated token to identify a session for billing purposes. Learn more about session tokens.
          schema:
            type: string
      x-dependencies:
        - ZeroOrOne(ll, near, sw);
        - IF radius THEN NOT near;
        - ZeroOrOne(chains, exclude_chains);
        - ZeroOrOne(open_now, open_at);
        - IF min_price AND max_price THEN min_price <= max_price;
        - IF (chains OR exclude_chains) AND exclude_all_chains THEN exclude_all_chains == false;
      responses:
        200:
          description: OK
        400:
          description: Bad request
      servers:
       - url: https://api.foursquare.com/v3
       #- url: http://idl.us.es/idlgateway/v3
